{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
    <title>Contact Us &#x2022; Eden Place</title>
{% endblock title %}

{% block links_and_scripts %}
    <link rel="preconnect" href="https://maps.google.com" crossorigin>
    <link rel="dns-prefetch" href="https://maps.google.com" crossorigin>
{% endblock links_and_scripts %}

{% block styles %}
    <link rel="stylesheet" href="../../static/blog/contact.css">
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="main_section">
            <div class="section_lead">
                <h1>Contact Us</h1>
                <p>Get in touch with Eden Place School</p>
            </div>
            <div class="map">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe class="gmap_iframe" title="Eden Place's location as shown on Google maps" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=6.774690, 3.403056&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    </div>
                    <style>.mapouter{position:relative;text-align:right;width:100%;height:100%;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:100%;}.gmap_iframe {height:100%!important;}</style>
                </div>
                <div class="card">
                    <div class="card_content">
                        <h3>Eden Place School</h3>
                        <p>
                            10, Olayinka Bolarinwa Street, Off Oluomo2, Orimerunmu, Ogun, Nigeria.
                        </p>
                        <p>
                            Call us on:
                            <a href="tel:+2348037383740">+2348037383740</a>
                        </p>
                        <p>
                            Email us at:
                            <a href="mailto:toltom2004@gmail.com">edenplaceschoolsng@gmail.com</a>
                        </p>
                    </div>
                    <a class="direction" href="https://maps.google.com/maps/dir//6.77469,3.403056/@6.77469,3.403056,17z" target="_blank">Get Directions</a>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="section_img">
                <img src="{% static 'images/curriculum.webp' %}" alt="contact us">
                <div class="frame"></div>
            </div>
            <div class="section_content">
                <h3>Have a question or want to get in touch?</h3>
                <p>
                    Our friendly Reception team are always on hand to answer questions and to point you in the right direction, whatever your enquiry.
                </p>
                <p>Send us a message or call +2348037383740</p>
            </div>
        </section>

        <div class="section">
            <div class="sub_section">
                <h3>Admissions</h3>
                <hr>
                <p>
                    We are always happy to answer any questions you may have about our admissions process. Please contact our Admissions team on +2348037383740 or email
                </p>
                <a href="" class="apply_btn" style="background-color: var(--button-bg-color-active);">
                    Email Admissions
                    <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(14px, 2vw, 16px); height: clamp(14px, 2vw, 16px);">
                </a>
            </div>

            <div class="sub_section">
                <h3>Other Enquiries</h3>
                <hr>
                <p>
                    For all other enquiries, please contact our Reception team on +2348037383740 or email
                </p>
                <a href="" class="apply_btn" style="background-color: var(--button-bg-color-active);">
                    Email Communications
                    <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(14px, 2vw, 16px); height: clamp(14px, 2vw, 16px);">
                </a>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block script %}
    <script>
        window.addEventListener('load', () => {
            let all_section = document.querySelectorAll('.section');

            const section_observer = new IntersectionObserver((entries)=>{
                entries.forEach((entry) => {
                    if(entry.isIntersecting){
                        entry.target.classList.add('slide_up');
                    }
                })
            });

            all_section.forEach((section) => {
                var delay = 0;
                for(let i = 0; i < section.children.length; i++){
                    section.children[i].style.animationDelay = `${delay}s`;
                    section_observer.observe(section.children[i]);
                    delay += 0.1;
                };
            });
        });
    </script>
{% endblock script %}