{% extends 'blog/base.html' %}
{% load static %}

{% block styles %}    
    <link rel="stylesheet" href="{% static 'blog/enroll.css' %}">
{% endblock styles %}
 {% block title %}   
    <title>Enrollment . Eden Place</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="showcase">
            <div class="showcase_main">
                <div class="img_wrapper">
                    <img src="{% static 'images/landing1.webp' %}" alt="">
                </div>

                <div class="main_card">
                    <div>
                        <h3>Admission is now open</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                    </div>
                    <a href="">Find out more</a>
                </div>
                
                <h1>Enrollment</h1>
            </div>
            
            <div class="showcase_text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam at quod cupiditate tempore quis rem natus porro 
                    quibusdam, voluptate quia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam at quod cupiditate tempore quis rem natus porro 
                    quibusdam, voluptate quia?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam at quod cupiditate tempore quis rem natus porro 
                    quibusdam, voluptate quia?
                </p>
            </div>
            <div class="quick_nav">
                <p>Jump to</p>
                <div>
                    <a id="#preschool">Pre-school enrollment</a>
                    <a id="#nursery">Nursery school enrollment</a>
                    <a id="#primary">Primary school enrollment</a>
                </div>
            </div>
        </div>
        <div class="divider_container">
            <hr class="divider">
        </div>

        <div class="quote_section">
            <div class="quote">
                <p class="quotation_mark">''</p>
                <p class="quote_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?
                </p>
            </div>
            <p class="from">The Good Schools</p>
        </div>

        <div class="divider_container">
            <hr class="divider">
        </div>

        <section class="section" id="preschool">
            <h1 class="section_head">Pre-school enrollment</h1>
            <p class="sub_text">
                We believe that childhood is a time to explore. Our pupils take a passionate interest in the world around them and are prepared to take risks in everything they do.
            </p>
            <div class="sub_section">
                <div class="section_text">
                    <p class="text_head">First steps...</p>
                    <p class="text_body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione perferendis earum est at libero. 
                        Fugit maiores repellat, delectus quo suscipit numquam tempore hic excepturi quae ipsa esse. Id eius repellendus laborum officia est quod ut
                         harum mollitia rem beatae facere atque, laudantium iste sapiente consectetur quae repellat quibusdam necessitatibus. Voluptas!
                    </p>
                </div>
                <div class="section_image">
                    <div class="image_wrapper">
                        <img src="{% static 'images/never_stop_learning.webp' %}" alt="">
                    </div>
                    <div class="frame"></div>
                </div>
            </div>

            <div class="section_columns">
                <div class="columns">
                    <h3>1+ Entry (Reception)</h3>
                    <h5>Application and entry for 2023 session is now open</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora, provident nostrum ex sit nobis ducimus facilis quis earum iusto!</p>
                    <b>Application for entry is open</b>
                </div>
                <div class="columns">
                    <h3>3+ Entry (Kindergaten)</h3>
                    <h5>Admission for 2023 session is ongoing</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga odio sequi vero temporibus quas hic eius sed vitae in nam?</p>
                    <b>Admission is ongoing</b>
                </div>
                <div class="columns">
                    <h3>Occasional Vacancies</h3>
                    <h5>Admission for 2023 session is ongoing</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, molestias fugiat dolore quos quibusdam repellendus atque. 
                        Modi ratione, reprehenderit optio, aut praesentium tempore atque enim consequatur 
                        quam explicabo, tempora neque! Ratione voluptates distinctio est at nihil reprehenderit impedit id adipisci?
                    </p>
                    <b>Admission is ongoing</b>
                </div>
            </div>

            <a href="" class="apply_btn">
                Apply now
                <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(14px, 2vw, 16px); height: clamp(14px, 2vw, 16px);">
            </a>

            <div class="slideshow">
                <img src="{% static 'images/left_arrow.svg' %}" alt="move backwards" class="move_backwards">
                <img src="{% static 'images/right_arrow.svg' %}" alt="move forwards" class="move_forwards">

                <div class="slide_indicator">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                </div>

                <div class="showcase_img" style="scroll-behavior: smooth;">
                    <div class="img">
                        <img src="{% static 'images/landing1.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>Admission is now open</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Find out more</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/landing2.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>Want to enroll your ward?</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Apply here</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/landing3.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>View our curriculae</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Curriculum</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="quote_section_sub">
                <div class="quote_sub">
                    <p class="quotation_mark_sub">''</p>
                    <p class="quote_text_sub">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?
                    </p>
                </div>
                <p class="from_sub">The Good Schools</p>
            </div>
            
        </section>

        <div class="divider_container">
            <hr class="divider">
        </div>

        <section class="section" id="nursery">
            <h1 class="section_head">Nursery school enrollment</h1>
            <p class="sub_text">
                The best schools are fun, supportive and encourage enquiring minds.
            </p>
            <div class="sub_section">
                <div class="section_text">
                    <p class="text_head">First steps...</p>
                    <p class="text_body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione perferendis earum est at libero. 
                        Fugit maiores repellat, delectus quo suscipit numquam tempore hic excepturi quae ipsa esse. Id eius repellendus laborum officia est quod ut
                         harum mollitia rem beatae facere atque, laudantium iste sapiente consectetur quae repellat quibusdam necessitatibus. Voluptas!
                    </p>
                </div>
                <div class="section_image">
                    <div class="image_wrapper">
                        <img src="{% static 'images/enroll.webp' %}" alt="">
                    </div>
                    <div class="frame"></div>
                </div>
            </div>

            <div class="section_columns">
                <div class="columns">
                    <h3>3+ Entry (Nursery 1)</h3>
                    <h5>Application and entry for 2023 session is now open</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora, provident nostrum ex sit nobis ducimus facilis quis earum iusto!</p>
                    <b>Application for entry is open</b>
                </div>
                <div class="columns">
                    <h3>5+ Entry (Nursery 2)</h3>
                    <h5>Admission for 2023 session is ongoing</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga odio sequi vero temporibus quas hic eius sed vitae in nam?</p>
                    <b>Admission is ongoing</b>
                </div>
                <div class="columns">
                    <h3>Occasional Vacancies</h3>
                    <h5>Admission for 2023 session is ongoing</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, molestias fugiat dolore quos quibusdam repellendus atque. 
                        Modi ratione, reprehenderit optio, aut praesentium tempore atque enim consequatur 
                        quam explicabo, tempora neque! Ratione voluptates distinctio est at nihil reprehenderit impedit id adipisci?
                    </p>
                    <b>Admission is ongoing</b>
                </div>
            </div>

            <a href="" class="apply_btn" style="background-color: var(--button-bg-color-active);">
                Proceed with application
                <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(14px, 2vw, 16px); height: clamp(14px, 2vw, 16px);">
            </a>

            <div class="slideshow">
                <img src="{% static 'images/left_arrow.svg' %}" alt="move backwards" class="move_backwards">
                <img src="{% static 'images/right_arrow.svg' %}" alt="move forwards" class="move_forwards">

                <div class="slide_indicator">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                </div>

                <div class="showcase_img" style="scroll-behavior: smooth;">
                    <div class="img">
                        <img src="{% static 'images/landing1.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>Admission is now open</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Find out more</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/landing2.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>Want to enroll your ward?</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Apply here</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/landing3.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>View our curriculae</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Curriculum</a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="quote_section_sub">
                <div class="quote_sub">
                    <p class="quotation_mark_sub">''</p>
                    <p class="quote_text_sub">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?
                    </p>
                </div>
                <p class="from_sub">The Good Schools</p>
            </div>
            
        </section>

        <div class="divider_container">
            <hr class="divider">
        </div>

        <section class="section" id="primary">
            <h1 class="section_head">Primary school enrollment</h1>
            <p class="sub_text">
                The best schools are fun, supportive and encourage enquiring minds.
            </p>
            <div class="sub_section">
                <div class="section_text">
                    <p class="text_head">First steps...</p>
                    <p class="text_body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione perferendis earum est at libero. 
                        Fugit maiores repellat, delectus quo suscipit numquam tempore hic excepturi quae ipsa esse. Id eius repellendus laborum officia est quod ut
                         harum mollitia rem beatae facere atque, laudantium iste sapiente consectetur quae repellat quibusdam necessitatibus. Voluptas!
                    </p>
                </div>
                <div class="section_image">
                    <div class="image_wrapper">
                        <img src="{% static 'images/curriculum.webp' %}" alt="">
                    </div>
                    <div class="frame"></div>
                </div>
            </div>

            <div class="section_columns">
                <div class="columns">
                    <h3>7+ Entry (Lower Primary)</h3>
                    <h5>Application and entry for 2023 session is now open</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora, provident nostrum ex sit nobis ducimus facilis quis earum iusto!</p>
                    <b>Application for entry is open</b>
                </div>
                <div class="columns">
                    <h3>9+ Entry (Upper Primary)</h3>
                    <h5>Admission for 2023 session is ongoing</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga odio sequi vero temporibus quas hic eius sed vitae in nam?</p>
                    <b>Admission is ongoing</b>
                </div>
                <div class="columns">
                    <h3>Occasional Vacancies</h3>
                    <h5>Admission for 2023 session is ongoing</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, molestias fugiat dolore quos quibusdam repellendus atque. 
                        Modi ratione, reprehenderit optio, aut praesentium tempore atque enim consequatur 
                        quam explicabo, tempora neque! Ratione voluptates distinctio est at nihil reprehenderit impedit id adipisci?
                    </p>
                    <b>Admission is ongoing</b>
                </div>
            </div>

            <a href="" class="apply_btn" style="background-color: var(--text-color-sec);">
                Click here to apply
                <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(14px, 2vw, 16px); height: clamp(14px, 2vw, 16px);">
            </a>

            <div class="slideshow">
                <img src="{% static 'images/left_arrow.svg' %}" alt="move backwards" class="move_backwards">
                <img src="{% static 'images/right_arrow.svg' %}" alt="move forwards" class="move_forwards">

                <div class="slide_indicator">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                </div>

                <div class="showcase_img" style="scroll-behavior: smooth;">
                    <div class="img">
                        <img src="{% static 'images/landing1.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>Admission is now open</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Find out more</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/landing2.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>Want to enroll your ward?</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Apply here</a>
                        </div>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/landing3.webp' %}" alt="">
                        <div class="main_card">
                            <div>
                                <h3>View our curriculae</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?</p>
                            </div>
                            <a href="">Curriculum</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="quote_section_sub">
                <div class="quote_sub">
                    <p class="quotation_mark_sub">''</p>
                    <p class="quote_text_sub">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tenetur?
                    </p>
                </div>
                <p class="from_sub">The Good Schools</p>
            </div> -->
            
        </section>

        <div class="divider_container">
            <hr class="divider">
        </div>
        
    </div>
 {% endblock content %}   
    

 {% block script %}
<script>

    window.addEventListener( 'load', () => {
        let quick_links = document.querySelectorAll('.quick_nav div a');
        quick_links.forEach((link)=>{
            link.addEventListener('click', (event)=>{
                let target = document.querySelector(`${link.id}`);
                target.scrollIntoView(
                    {
                        behavior: 'smooth',
                        block: 'start',
                    }
                );
            });
        });

        let slideshows = document.querySelectorAll('.slideshow');
        let slide_indicators = document.querySelectorAll('.slide_indicator');
        var images = document.querySelectorAll('.img');

        var img_width = slideshows[0].querySelectorAll('.img')[0].clientWidth;


        
        var section_image = document.querySelectorAll('.section_image');
        var section_text = document.querySelectorAll('.section_text');
        var columns = document.querySelectorAll('.columns');
        var sub_quote = document.querySelectorAll('.quote_section_sub');

        const section_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){
                    entry.target.classList.add('display_section');
                }
            });
        });

        section_image.forEach(image => {
            section_observer.observe(image);
        });

        section_text.forEach(text => {
            section_observer.observe(text);
        });

        sub_quote.forEach(quote => {
            section_observer.observe(quote);
        });

        columns.forEach(column => {
            section_observer.observe(column);
        });

        const card_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){
                    entry.target.classList.add('display_card');
                }else{
                    entry.target.classList.remove('display_card');
                }
            });
        });

        slideshows.forEach(slideshow => {
            slideshow.querySelectorAll('.main_card').forEach(card => {
                card_observer.observe(card);
            });
        });

        function to_bool(val){
            if(val == 'true'){
                return true
            }else {
                return false
            };
        };

        const slide_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){   
                    var reached_end = to_bool(entry.target.querySelectorAll('.img')[0].id);
                    entry.target.id = setInterval(() => {
                        if(reached_end){
                            entry.target.scrollBy(-slideshows[0].clientWidth, 0);
                        }else{
                            entry.target.scrollBy(slideshows[0].clientWidth, 0);
                        }
                        if (entry.target.scrollLeft + slideshows[0].clientWidth >= entry.target.scrollWidth) {
                            reached_end = true;
                            entry.target.querySelectorAll('.img')[0].id = reached_end
                            entry.target.scrollBy(-slideshows[0].clientWidth, 0);
                        }
                        if (entry.target.scrollLeft == 0) {
                            reached_end = false;
                            entry.target.querySelectorAll('.img')[0].id = reached_end
                        }
                    }, 8000);
                }
                else{
                    clearInterval(entry.target.id)
                };
            });
        });

        slideshows.forEach(slideshow => {
            let showcase_img = slideshow.querySelector('.showcase_img')
            slide_observer.observe(showcase_img);

            slideshow.addEventListener('click', (e) => {
                let forwards_btn = slideshow.querySelector('.move_forwards');
                let backwards_btn = slideshow.querySelector('.move_backwards');
                if (forwards_btn.contains(e.target)){
                    showcase_img.scrollBy(slideshow.clientWidth, 0);

                    if(showcase_img.id != ""){
                        clearInterval(parseInt(showcase_img.id));
                    }   
                }else if(backwards_btn.contains(e.target)){
                    showcase_img.scrollBy(-slideshow.clientWidth, 0);

                    if(showcase_img.id != ""){
                        clearInterval(parseInt(showcase_img.id));
                    }  
                };
            });
        });

        slide_indicators.forEach((indicator) => {
            indicator.querySelectorAll('p').forEach((dot, index) => {
                dot.addEventListener('click', (e) => {
                    let slide = indicator.parentNode.querySelector('.showcase_img').querySelectorAll('.img')[index];
                    let showcase_img = indicator.parentNode.querySelector('.showcase_img');
                    slide.scrollIntoView(
                        {
                            behavior: 'smooth',
                            block: 'nearest',
                            inline: 'start',
                        }
                    );

                    if(showcase_img.id != ""){
                        clearInterval(parseInt(showcase_img.id));
                    }   
                });
            });
        });

    });
</script>
{% endblock script %}
</html>