{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>FAQs . Eden Place</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/faq.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <section class="main_section">
            <h1>FAQs</h1>
            <p>
                Here are some frequently asked question which have been answered in the best way possible.
                You can check them out.
            </p>
        </section>

        <section class="faq_section">
            {% for faq in faqs %}
            <div class="faq">
                <hr>
                <h3>
                    <img src="{% static 'images/down.svg' %}" alt="" style="width: clamp(16px, 2vw, 20px); height: clamp(16px, 2vw, 20px);">
                    {{ faq.question }}
                </h3>
                <div class="answer">
                    <p>
                        {{ faq.answer|linebreaks }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock content %}

{% block script %}
    <script>
        let faqs = document.querySelectorAll('.faq');
        const faq_observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if(entry.isIntersecting){
                    entry.target.classList.add('slide_up');
                }
            })
        })

        var delay = 0;
        if(faqs.length > 0){
            faqs.forEach((item, index) => {
                item.style.animationDelay = `${delay}s`;
                delay += 0.1;
                faq_observer.observe(item);
                item.querySelector('h3').addEventListener('click', () => {
                    item.querySelector('.answer').classList.toggle('open');
                    item.querySelector('img').classList.toggle('flip');
                });
            });
        };
        
    </script>
{% endblock script %}
