<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees . Eden Place</title>
    <link rel="stylesheet" href="../../static/blog/fees.css">
</head>
<body>
    <div class="container">
        <div class="showcase">
            <div class="showcase_main">
                <div class="img_wrapper">
                    <img src="../../static/images/landing3.webp" alt="" style="width: 100%; height: 100%;">
                </div>

                <h1>Fees</h1>
            </div>
            
            <div class="showcase_text">
                <p>
                    Eden Place is one of the best Nigerian schools. 
                    We are high-achieving and down-to-earth and offer an academic and broad curriculum with a very modern edge. 
                    Eden Place is genuinely open to new ideas and places a strong focus on developing intellectual agility and teaching pupils to think differently.
                </p>
            </div>

            <div class="quick_nav">
                <p>Jump to</p>
                <div>
                    <a id="#preschool">Pre-school fee</a>
                    <a id="#nursery">Nursery school fee</a>
                    <a id="#primary">Primary school fee</a>
                </div>
            </div>
        </div>

        <div class="divider_container">
            <hr class="divider">
        </div>
    </div>
</body>
</html>