{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Fees &#x2022; Eden Place</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="../../static/blog/fees.css">
{% endblock styles %}


{% block content %}
    <div class="container">
        <div class="showcase">
            <div class="showcase_main">
                <div class="img_wrapper">
                    <img src="{% static 'images/landing3.webp' %}" alt="showcase image" style="width: 100%; height: 100%;">
                </div>

                <h1>Fees</h1>
            </div>
            
            <div class="showcase_text">
                <p>
                    Eden Place is one of the best Nigerian schools. 
                    We are high-achieving and down-to-earth and offer an academic and broad curriculum with a very modern edge. 
                    Eden Place is genuinely open to new ideas and places a strong focus on developing intellectual agility and teaching pupils to think differently.
                </p>
            </div>

            <div class="quick_nav">
                <p>Jump to</p>
                <div>
                    <a id="#preschool">Pre-school fee</a>
                    <a id="#nursery">Nursery school fee</a>
                    <a id="#primary">Primary school fee</a>
                </div>
            </div>
        </div>

        <div class="divider_container">
            <hr class="divider">
        </div>

        <section class="fees">
            <div class="fee" id="preschool">
                <h3>Preschool fee</h3>
                <h5>0 - 2yrs</h5>
                <p>&#x20A6;15 000 per term</p>
            </div>
            <div class="fee" id="nursery">
                <h3>Nursery school fee</h3>
                <h5>3 - 5yrs</h5>
                <p>&#x20A6;27 500 per term</p>
            </div>
            <div class="fee" id="primary">
                <h3>Primary school fee</h3>
                <h5>6 - 10yrs</h5>
                <p>&#x20A6;40 075 per term</p>
            </div>
        </section>

        <section class="how_to">
            <h1>How to pay</h1>
            <div>
                <h3>Payment of fees</h3>
                <p>
                    We offer a variety of payment options for school fees. These include online payment, bank transfer, and cash or check payments. 
                    All payments must be made on time to ensure your child's enrollment and participation in school activities. 
                    For more information on fee structures and payment options, please <a href="https://maps.google.com/maps/dir//6.77469,3.403056/@6.77469,3.403056,17z" style="color: var(--text-color-sec); text-decoration: underline;">visit us</a> or <a href="{% url 'contact' %}" style="color: var(--text-color-sec); text-decoration: underline;">contact</a> our office directly.
                </p>
            </div>

            <div>
                <h3>Registration fees</h3>
                <p>
                    We are excited to welcome new pupils to our school community! 
                    To register your child, please visit our website and fill out an online <a href="" style="color: var(--text-color-sec); text-decoration: underline;">application form</a>. 
                    A non-refundable admission fee is required at the time of registration. 
                    Additionally, you will be required to submit all necessary documents and pay the termly tuition fee. 
                    Please contact our <a href="tel:+2348037383740" style="color: var(--text-color-sec); text-decoration: underline;">admissions</a> office for further information and assistance with the registration process.
                </p>
            </div>

            <div>
                <h3>Co-curricular fees</h3>
                <p>
                    We believe in providing a well-rounded education for our pupils and offer a variety of co-curricular activities such as sports, music, art, and clubs. 
                    Participation in these activities may be optional and subject to an additional fee. 
                    The fees vary depending on the activity, for more information please <a href="{% url 'contact' %}" style="color: var(--text-color-sec); text-decoration: underline;">contact</a> our office directly.
                </p>
            </div>
        </section>

        <section class="section">
            <div class="section_content">
                <h3>Excursions</h3>
                <p>
                    At our school, we believe that hands-on learning experiences are an important part of a child's education. 
                    That's why we offer a variety of excursions throughout the school year to give our pupils the opportunity to explore their interests and learn in new and exciting ways.
                     Our excursions are designed to complement and enhance the curriculum in a fun and engaging way.
                </p>
                <p>
                    We understand that safety is of the utmost importance when it comes to excursions. 
                    Our staff carefully plans and supervises all excursions, and we ensure that all necessary precautions are taken to keep our pupils safe. 
                    Excursion fees are required to cover the cost of transportation, admission, and other expenses.
                </p>
            </div>

            <div class="section_img">
                <img src="{% static 'images/curriculum.webp' %}" alt="Co-curricular Fees">
                <div class="frame"></div>
            </div>
        </section>

        <section class="section">
            <div class="section_img">
                <img src="{% static 'images/curriculum.webp' %}" alt="Siblings Discount">
                <div class="frame"></div>
            </div>

            <div class="section_content">
                <h3>Siblings Discount</h3>
                <p>
                    We understand that education is an investment for families and we strive to make it affordable for all. 
                    We believe that education is a right, not a privilege and we strive to make it accessible for all.
                     That's why we offer a sibling discount for families with multiple children enrolled in our school. 
                     This discount applies to the annual tuition fee for each additional sibling and can significantly reduce the overall cost for families. 
                     To qualify for this discount, please <a href="{% url 'contact' %}" style="color: var(--text-color-sec); text-decoration: underline;">contact</a> our office for more information on how to register siblings together.
                </p>
            </div>
        </section>
    </div>
{% endblock content %}

{% block script %}
<script>
    
    window.addEventListener('load', () => {
        let all_section = document.querySelectorAll('section');
        let quick_links = document.querySelectorAll('.quick_nav div a');

        const section_observer = new IntersectionObserver((entries)=>{
            entries.forEach((entry) => {
                if(entry.isIntersecting){
                    entry.target.classList.add('slide_up');
                }
            })
        })

        all_section.forEach((section) => {
            var delay = 0;
            for(let i = 0; i < section.children.length; i++){
                section.children[i].style.animationDelay = `${delay}s`;
                section_observer.observe(section.children[i]);
                delay += 0.1;
            };
        });

        quick_links.forEach((link)=>{
            link.addEventListener('click', (event)=>{
                let target = document.querySelector(`${link.id}`);
                target.scrollIntoView(
                    {
                        behavior: 'smooth',
                        block: 'center',
                    }
                );
            });
        });
    });
    
</script>
{% endblock script %}
