{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Fees . Eden Place</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="../../static/blog/fees.css">
{% endblock styles %}


{% block content %}
    <div class="container">
        <div class="showcase">
            <div class="showcase_main">
                <div class="img_wrapper">
                    <img src="{% static 'images/landing3.webp' %}" alt="showcase image" style="width: 100%; height: 100%;">
                </div>

                <h1>Fees</h1>
            </div>
            
            <div class="showcase_text">
                <p>
                    Eden Place is one of the best Nigerian schools. 
                    We are high-achieving and down-to-earth and offer an academic and broad curriculum with a very modern edge. 
                    Eden Place is genuinely open to new ideas and places a strong focus on developing intellectual agility and teaching pupils to think differently.
                </p>
            </div>

            <div class="quick_nav">
                <p>Jump to</p>
                <div>
                    <a id="#preschool">Pre-school fee</a>
                    <a id="#nursery">Nursery school fee</a>
                    <a id="#primary">Primary school fee</a>
                </div>
            </div>
        </div>

        <div class="divider_container">
            <hr class="divider">
        </div>

        <section class="fees">
            <div class="fee" id="preschool">
                <h3>Preschool fee</h3>
                <h5>0 - 2yrs</h5>
                <p>&#x20A6;15 000 per term</p>
            </div>
            <div class="fee" id="nursery">
                <h3>Nursery school fee</h3>
                <h5>3 - 5yrs</h5>
                <p>&#x20A6;27 500 per term</p>
            </div>
            <div class="fee" id="primary">
                <h3>Primary school fee</h3>
                <h5>6 - 10yrs</h5>
                <p>&#x20A6;40 075 per term</p>
            </div>
        </section>

        <section class="how_to">
            <h1>How to pay</h1>
            <div>
                <h3>Payment of fees</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum soluta veniam minima commodi porro
                     cum dolor libero dolore eos! Reiciendis autem molestias est suscipit nostrum dolorum exercitationem, 
                     sed inventore cumque.
                </p>
            </div>

            <div>
                <h3>Registration fees</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum soluta veniam minima commodi porro
                     cum dolor libero dolore eos! Reiciendis autem molestias est suscipit nostrum dolorum exercitationem, 
                     sed inventore cumque.
                </p>
            </div>

            <div>
                <h3>Extra-curricular fees</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum soluta veniam minima commodi porro
                     cum dolor libero dolore eos! Reiciendis autem molestias est suscipit nostrum dolorum exercitationem, 
                     sed inventore cumque.
                </p>
            </div>
        </section>

        <section class="section">
            <div class="section_img">
                <img src="{% static 'images/curriculum.webp' %}" alt="Registration image">
                <div class="frame"></div>
            </div>

            <div class="section_content">
                <h3>Registration Fees</h3>
                <p>
                    Our friendly Reception team are always on hand to answer questions and to point you in the right direction, whatever your enquiry.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sed explicabo molestias corrupti vero magni culpa necessitatibus ipsam fugiat nulla.
                </p>
            </div>
        </section>

        <section class="section">
            <div class="section_content">
                <h3>Co-curricular Fees</h3>
                <p>
                    Our friendly Reception team are always on hand to answer questions and to point you in the right direction, whatever your enquiry.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos provident doloremque culpa eligendi cumque molestiae amet dolores vel.
                </p>
            </div>

            <div class="section_img">
                <img src="{% static 'images/curriculum.webp' %}" alt="Co-curricular Fees">
                <div class="frame"></div>
            </div>
        </section>

        <section class="section">
            <div class="section_img">
                <img src="{% static 'images/curriculum.webp' %}" alt="Siblings Discount">
                <div class="frame"></div>
            </div>

            <div class="section_content">
                <h3>Siblings Discount</h3>
                <p>
                    Our friendly Reception team are always on hand to answer questions and to point you in the right direction, whatever your enquiry.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sed explicabo molestias corrupti vero magni culpa necessitatibus ipsam fugiat nulla.
                </p>
            </div>
        </section>
    </div>
{% endblock content %}

{% block script %}
<script>
    
    window.addEventListener('load', () => {
        let all_section = document.querySelectorAll('section');
        let quick_links = document.querySelectorAll('.quick_nav div a');

        const section_observer = new IntersectionObserver((entries)=>{
            entries.forEach((entry) => {
                if(entry.isIntersecting){
                    entry.target.classList.add('slide_up');
                }
            })
        })

        all_section.forEach((section) => {
            var delay = 0;
            for(let i = 0; i < section.children.length; i++){
                section.children[i].style.animationDelay = `${delay}s`;
                section_observer.observe(section.children[i]);
                delay += 0.1;
            };
        });

        quick_links.forEach((link)=>{
            link.addEventListener('click', (event)=>{
                let target = document.querySelector(`${link.id}`);
                target.scrollIntoView(
                    {
                        behavior: 'smooth',
                        block: 'center',
                    }
                );
            });
        });
    });
    
</script>
{% endblock script %}
