{% extends 'blog/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="../../static/blog/index.css">
{% endblock styles %}

{% block title %}
    <title>Home . Eden Place</title>
{% endblock title %}

{% block links_and_scripts %}
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
{% endblock links_and_scripts %}


{% block content %}
    <div class="showcase" style="scroll-behavior: smooth;">
        <div class="showcase_text be_container">
            <p>Best in class education</p>
            <h1>Eden Place</h1>
            <p>
                <span class="split_text">At Eden Place, we build world changers and God fearing pupils. Our montessori system helps children learn while keeping things fun.</span>
            </p>
            <div class="action_btns">
                <a href="{% url 'enroll' %}" class="btn">Enroll Now</a>
                <a href="{% url 'about' %}" class="btn">Learn More</a>
            </div>
        </div>
        <div class="showcase_img" style="scroll-behavior: smooth;">
            <div class="img">
                <img src="{% static 'images/landing1.webp' %}" alt="">
            </div>
            <div class="img">
                <img src="{% static 'images/landing2.webp' %}" alt="">
            </div>
            <div class="img">
                <img src="{% static 'images/landing3.webp' %}" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="motto">
            <img src="{% static 'images/branch.svg' %}" alt="" >
            <p>"</p>
            <p>In convenant with Christ</p>
            <div class="btm_line"></div>
            <div class="btm_line"></div>
            <img src="{% static 'images/branch.svg' %}" alt="">
        </div>
        <div class="intro">
            <div class="details">
                <div class="det_img">
                    <img src="{% static 'images/landing2.webp' %}" alt="">
                    <div class="frame"></div>
                </div>
                <div class="det_text">
                    <h1>Welcome to Eden Place School</h1>
                    <p>
                        Eden place is a school built on Christ the solid rock. We recognize and celebrate the uniqueness the every child as well as helping them develop their potentials. 
                        We are a school that believes in the total development of the child.
                         Here, believe that every child is unique and has a special gift to offer the world. We are a school that believes in the total development of the child and teach children to be God fearing future leaders.
                    </p>
                </div>  
            </div>

            <div class="details">
                <div class="det_img">
                    <img src="{% static 'images/landing1.webp' %}" alt="">
                    <div class="frame"></div>
                </div>
                <div class="det_text">
                    <h1><span>"</span>Awesome things happen at Eden Place</h1>
                    <p>
                        The best schools are fun, supportive and inspirational environments for young enquiring minds. Eden Place is all of that and more.
                        Whoever they are or want to be, pupils build friendships and develop their intellect knowing they are valued and have the opportunity to make a difference.
                    </p>
                </div>  
            </div>
        </div>

        <div class="upcoming">
            <div class="upcoming_head">
                <h1>Upcoming Events</h1>
            </div>
            <div class="upcoming_body">
                {% for event in upcoming_events %}
                    <div class="upcoming_body_item">
                        <div class="item_img">
                            <img src="{{ event.main_image.url }}" alt="">
                            <a href="{% url 'event_detail' event.slug %}">Read more</a>
                        </div>
                        <div class="item_content">
                            <p>
                                {% for tag in event.tags.all %}
                                    <a href="{% url 'tag_events' %}?tag={{ tag.name }}">{{ tag.name }}</a>, 
                                {% endfor %}
                            </p>
                            <h3><a href="{% url 'event_detail' event.slug %}">{{ event.title|title }}</a></h3>
                            <p>{{ event.date|date:"d D, Y" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="indicators">
                {% for event in upcoming_events %}
                    <div class="indicator"></div>
                {% endfor %}
            </div>
            <a href="{% url 'tag_events' %}?tag=Upcoming" class="view_all_btn">View All <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(10px, 2vw, 15px); height: clamp(10px, 2vw, 15px);"></a>

        </div>

        <div class="recents_head">
            <h1>Recent News</h1>
        </div>
        <div class="recents">
            <div class="recents_body"> 
                {% for event in recent_events %}
                    <div class="upcoming_body_item">
                        <div class="item_img">
                            <img src="{{ event.main_image.url }}" alt="">
                            <a href="{% url 'event_detail' event.slug %}">Read more</a>
                        </div>
                        <div class="item_content">
                            <p>
                                {% for tag in event.tags.all %}
                                    <a href="{% url 'tag_events' %}?tag={{ tag.name }}">{{ tag.name }}</a>, 
                                {% endfor %}
                            </p>
                            <h3><a href="{% url 'event_detail' event.slug %}">{{ event.title|title }}</a></h3>
                            <p>{{ event.date|date:"d D, Y" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href="{% url 'tag_events' %}?tag=All" class="view_all_btn">View All <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(10px, 2vw, 15px); height: clamp(10px, 2vw, 15px);"></a>
        </div>

    </div>
{% endblock content %}

{% block script %} 
<script>
    window.addEventListener( 'load', () => {
        let showcase_imgs = document.querySelectorAll('.showcase_img');
        let showcase_text = document.querySelector('.showcase_text');
        let showcase_h1 = document.querySelector('.showcase_text h1');
        var img_width = showcase_imgs[0].querySelectorAll('.img')[0].clientWidth;
        var images = document.querySelectorAll('.img img');

        // text animation
        let split_text = new SplitType('.split_text');
        
        let tween = gsap.from(split_text.lines, {
            duration: 0.8,
            y: 100,
            stagger: 0.1,
            ease: 'power2.out',
            delay: 1,
        });
        tween.play();

        const showcase_text_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){
                    entry.target.classList.add('slide_downwards');
                }
            });
        }, {rootMargin: "10% 10%"});

        showcase_text_observer.observe(showcase_text);

        const text_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){
                    entry.target.classList.add('slide_upwards');
                }
            });
        }, {rootMargin: "10% 10%"});

        text_observer.observe(showcase_h1);

        const img_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){
                    entry.target.classList.add('zoom_out');
                }
            });
        }, {rootMargin: "10% 10%"});

        images.forEach((img) => {
            img_observer.observe(img);
        });

        function to_bool(val){
            if(val == 'true'){
                return true
            }else {
                return false
            };
        };

        const slide_observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){   
                    var reached_end = to_bool(entry.target.querySelectorAll('.img')[0].id);
                    entry.target.id = setInterval(() => {
                        if(reached_end){
                            entry.target.scrollBy(-img_width, 0);
                        }else{
                            entry.target.scrollBy(img_width, 0);
                        }
                        if (entry.target.scrollLeft + img_width >= entry.target.scrollWidth) {
                            reached_end = true;
                            entry.target.querySelectorAll('.img')[0].id = reached_end
                            entry.target.scrollBy(-img_width, 0);
                        }
                        if (entry.target.scrollLeft == 0) {
                            reached_end = false;
                            entry.target.querySelectorAll('.img')[0].id = reached_end
                        }
                    }, 8000);
                }
                else{
                    clearInterval(entry.target.id)
                };
            });
        });

        showcase_imgs.forEach(showcase_img => {
            slide_observer.observe(showcase_img);
        });


        var det_imgs = document.querySelectorAll('.det_img');
        var det_texts = document.querySelectorAll('.det_text');
        var recent_items = document.querySelector('.recents_body').querySelectorAll('.upcoming_body_item');

        const observer = new IntersectionObserver((entries)=>{
            entries.forEach(entry => {
                if(entry.isIntersecting){
                    entry.target.classList.add('display_section');
                }
            });
        }, {rootMargin: "10% 10%"});

        det_imgs.forEach(img => {
            observer.observe(img);
        });

        det_texts.forEach(text => {
            observer.observe(text);
        });

        var delay = 0.1;

        const recent_observer = new IntersectionObserver((entries)=>{
            entries.forEach(entry => {
                if(entry.isIntersecting){
                    entry.target.classList.add('display_recent');
                }
                entry.target.style.animationDelay = delay + 's';
                delay += 0.1;
                setTimeout(() => {
                    delay = 0.1;
                }, 1000);
            });
        });

        recent_items.forEach(item => {
            recent_observer.observe(item);
        });

        let upcoming_body = document.querySelector('.upcoming_body');
        if (upcoming_body){
            let upcoming_body_item = document.querySelectorAll('.upcoming_body_item');
            let upcoming_body_item_width = upcoming_body_item[0].offsetWidth;
            let upcoming_body_item_count = upcoming_body_item.length;
            let indicators = document.querySelectorAll('.indicator');

            // Upcoming body scroll event
            upcoming_body.addEventListener('scroll', () => {
                let itemVisibleNum = Math.ceil((upcoming_body.scrollLeft - 150) / upcoming_body_item_width);
                indicators.forEach((indicator) => {
                    indicator.classList.remove('active');
                });
                if (itemVisibleNum > upcoming_body_item_count - 1) {
                    itemVisibleNum = upcoming_body_item_count - 1;
                }
                indicators[itemVisibleNum].classList.add('active');
            });

            // Upcoming body indicator click event
            indicators.forEach((indicator, index) => {
                indicator.addEventListener('click', () => {
                    upcoming_body.scrollBy((index * upcoming_body_item_width) - upcoming_body.scrollLeft, 0);
                    indicators.forEach((indicator) => {
                        indicator.classList.remove('active');
                    });
                    indicator.classList.add('active');
                });
            });
        };
  
    });
</script>
{% endblock script %}
</html>