{% extends 'blog/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/policies.css' %}">
{% endblock styles %}

{% block title %}
    <title>School Policies &#x2022; Eden Place</title>
{% endblock title %}


{% block content %}
    <div class="container">
        <section class="main_section">
            <h1>School Policy</h1>
            <p>
                At our school, we strive to create a safe and inclusive environment for all pupils. 
                We have a zero tolerance policy for bullying, discrimination, and harassment. 
                We encourage students to report any incidents and we will investigate and take appropriate action. 
                We also expect all pupils to be respectful of school property and to follow school rules at all times.
            </p>
            <p>
                For more info, download the school policy below.
            </p>

            <a href="" class="download_btn" style="background-color: var(--text-color-sec);">
                View Policy
                <img src="{% static 'images/left-arrow.svg' %}" alt="" style="width: clamp(14px, 2vw, 16px); height: clamp(14px, 2vw, 16px);">
            </a>
        </section>
    </div>
{% endblock content %}
