@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Vesper+Libre&display=swap');


@font-face {
    font-family: 'Monarda';
    src: url('monarda-webfont.woff2') format('woff2'),
         url('monarda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Billie Sight';
    src: url('billie-sight.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root{
    --text-muted-color: #d5dce5;
    --text-pop-color: #373b3f;
    --heading-color: #0e1318;
    --sub-heading-color: #1f1f1f;
    --body-bg-color: #fff;
    --text-color: #333;
    --text-color-sec: #e85585;
    --text-extra: #1f2f3f;
    --bg-primary: #f1f3f5;
    --bg-secondary:#e1e1e1;
    --bg-tertiary:#f6f6f6;
    --input-bg-color: #f1f3f5;
    --img-filter:;
    --quote-text-color: #024445;
    --quote-text-strong: #057778;
    --border-color-primary:;
    --border-color-secondary:;
    --input-text-color:#6a6d71;
    --input-border-color:var(--text-muted-color);
    --input-border-color-focus:var(--link-hover-color);
    --input-bg-color-focus:;
    --input-text-color-focus:;
    --input-border-color-error:;
    --input-bg-color-error:;
    --input-text-color-error:;
    --input-border-color-disabled:;
    --input-bg-color-disabled:;
    --input-text-color-disabled:;
    --input-border-color-success:;
    --input-bg-color-success:;
    --input-text-color-success:;
    --input-border-color-warning:;
    --link-highlight-color:#8321e9;
    --link-hover-color:#caa0f6;
    --button-bg-color:#6720b2;
    --button-bg-color-hover-tertiary:#e1e4e7;
    --button-bg-color-hover-primary:#f1f3f5;
    --button-bg-color-hover-secondary:#922ffb;
    --button-bg-color-active:#7425c7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.be_container{
    width: 100%;
}

body{
    font-family: "Raleway";  
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smooth: always !important;
    -webkit-text-size-adjust: none;
    color: var(--text-color);
    background-color: #fff;
}


h1,h2, h3, h4, h5, h6{
    font-family: "Manrope";
    color: var(--heading-color);
}

p, li, a{
    font-family: "Raleway";
    color: var(--text-color);
}

a{
    text-decoration: none;
}

::placeholder{
    color: var(--input-text-color);
    font-family: "Manrope";
}

input{
    font-family: "Manrope";
    border-radius: 6px;
    border: 1px solid var(--input-border-color);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

input:focus-within{
    border: 1px solid var(--input-border-color-focus);
    margin: -1px !important;
}

input:not(:placeholder-shown){
    border: 1px solid var(--input-border-color-focus);
    margin: -1px !important;
}

label{
    color: var(--sub-heading-color);
    font-weight: 700;
}

button{
    font-family: "Manrope";
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    outline: none !important;
    transition: all 0.1s ease-out;
}

button:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.showcase_main{
    width: 100%;
    height: 500px;
    border-radius: 4px;
    margin-top: 150px;
    position: relative;
}

.showcase_main img{
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    border: 2px solid var(--link-hover-color);
    animation: 0.5s ease-in-out;
    animation-name: zoom_in;
    animation-delay: none;
    animation-fill-mode: forwards;
    transform: scale(1.02);
    filter: brightness(0.5) contrast(0.8);
}

@keyframes zoom_in{
    0%{
        filter: brightness(0.5) contrast(0.8);
        transform: scale(1.02);
    }
    100%{
        filter: brightness(1) contrast(0.8);
        transform: scale(1.0);
    }
}

.zoom_in_window{
    animation: 0.5s ease-in-out;
    animation-name: zoom_in_window;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes zoom_in_window{
    0%{
        filter: brightness(0.3) contrast(0.8);
        transform: scale(1.02);
    }
    100%{
        filter: brightness(0.8) contrast(0.8);
        transform: scale(1.0);
    }
}

.showcase_main .main_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0;
    /* transform: translate(-10%, -10%); */
    background-color: hsla(210, 17%, 95%, 0.7);
    padding: 10px;
    animation: display_card 0.5s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes display_card{
    0%{
        opacity: 0;
        transform: translate(-10%, -10%);
    }
    100%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

.main_card div{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--link-hover-color);
    padding: 20px;
    width: 100%;
    margin-bottom: 5px;
}

.main_card div h3{
    font-family: 'Cabin';
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 700;
    color: var(--text-extra);
    margin: 10px 0;
}

.main_card div p{
    font-family: 'Manrope';
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 500;
    color: var(--text-extra);
    margin: 10px 0;
}

.main_card a{
    font-size: clamp(14px, 4vw, 16px);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--button-bg-color);
    font-family: 'Cabin';
}

.main_card a:hover{
    background-color: var(--button-bg-color-hover-secondary);
}

.showcase h1{
    font-family: 'Monarda';
    font-size: clamp(48px, 4vw, 90px);
    font-weight: 500;
    color: var(--text-pop-color);
    margin: clamp(20px, 4vw, 40px) 0;
    text-align: center;
}

.showcase_text{
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}

.showcase_text p{
    font-family: 'DM Sans', 'cursive';
    font-size: clamp(14px, 4vw, 20px);
    color: var(--text-pop-color);
}

.showcase .quick_nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.quick_nav p{
    font-family: 'Cabin';
    font-size: clamp(14px, 2vw, 18px);
    color: var(--text-color-sec);
}

.quick_nav div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.quick_nav div a{
    color: var(--quote-text-strong);
    font-family: 'Cabin';
    font-weight: 500;
    font-size: clamp(12px, 2vw, 16px);
    cursor: pointer;
}

.divider_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divider{
    width: 90%;
    height: 1px;
    background-color: var(--text-color);
    margin: 60px 0;
}

.divider_sec{
    width: 60%;
    height: 4px;
    background-color: var(--quote-text-strong);
    margin: 40px 0;
}

.section{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.section:first-of-type{
    padding: 0 40px;
}

.section_image{
    width: 46%;
    position: relative;
}

.section_image .img_main{
    width: 100%;
    height: 100%;
}

.section_image .img_main img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.img_sub1, .img_sub2{
    width: 35%;
    height: 40%;
    box-shadow: 4px 4px 2px rgba(31, 31, 31, 0.35);
}

.section_image :is(img){
    border-radius: 4px;
}

.img_sub1 img, .img_sub2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img_sub1{
    position: absolute;
    top: -20px;
    left: -30px;
}

.img_sub2{
    position: absolute;
    bottom: -20px;
    right: -30px;
}

.section_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}


.text_head{
    text-align: center;
    font-family: 'Raleway';
    font-size: clamp(28px, 4vw, 40px);
    color: var(--text-color-sec);
}

.section_text p{
    line-height: 1.6;
    text-align: center;
    font-size: clamp(14px, 4vw, 20px);
    font-family: 'DM Sans';
}

.frame{
    border: 2px solid var(--bg-primary);
    border-radius: 4px;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.showcase_img{
    width: 100%;
    height: 500px;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    display: flex;
    scroll-behavior: smooth !important;
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(100%);
    animation: 2s ease-in-out;
    position: relative;
    margin: 40px 0;
}
    

.showcase_img::-webkit-scrollbar{
    display: none;
}

.showcase_img .img{
    scroll-snap-align: start;
    position: relative;
}

.showcase_img .img img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(0) brightness(0.7);
}


.showcase_img .img .main_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    height: 250px;
    position: absolute;
    top: 20%;
    right: 10%;
    opacity: 0;
    background-color: hsla(210, 17%, 95%, 0.9);
    padding: 10px;
}

.showcase_img .img .main_card div{
    border-color: var(--text-extra) !important;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.showcase_img .img .main_card div h3{
    margin: 0;
}

.showcase_img .img .main_card p{
    color: var(--text-pop-color);
    font-size: clamp(12px, 2vw, 16px);
    text-align: center;
    margin: 0;
}

.display_card{
    opacity: 0;
    animation: display_card 0.5s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes display_card{
    0%{
        opacity: 0;
        transform: translateY(-10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.move_forwards, .move_backwards{
    position: absolute;
    top: 50%;
}

.move_backwards{
    left: 0;
}

.move_forwards{
    right: 0;
}

.history_section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.history_head{
    font-family: 'Raleway';
    font-size: clamp(28px, 4vw, 40px);
    color: var(--text-color-sec);
    margin-bottom: 40px;
}

.history_section b{
    font-family: 'Raleway';
    font-size: clamp(20px, 4vw, 26px);
    color: var(--heading-color);
    margin-bottom: 20px;
}

.history_section p{
    font-family: 'Manrope';
    font-size: clamp(14px, 4vw, 18px);
    margin-bottom: 20px;
    line-height: 1.6;
}

.apply_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--text-extra);
    color: #fff;
    padding: 15px 20px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: clamp(12px, 2vw, 16px);
    border-radius: 50px;
    margin-bottom: 20px;
}

.apply_btn img{
    transform: rotate(180deg);
    filter: invert(1);
}

.apply_btn:hover{
    opacity: 0.8;
}

.values_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.text_body{
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.text_body .text_body_head{
    font-family: 'Cabin';
    font-size: clamp(16px, 4vw, 18px);
    color: var(--text-color);
    font-weight: 800;
}

.text_body h3{
    font-family: 'Raleway';
    font-size: clamp(16px, 4vw, 20px);
    color: var(--text-extra);
    margin-bottom: 20px;
}

.text_body p{
    font-family: 'Manrope';
    line-height: 1.6;
    font-size: clamp(14px, 4vw, 16px);
}

.quote_section_sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    /* opacity: 0; */

}

.quote_sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quotation_mark_sub{
    font-size: clamp(20px, 5vw, 36px);
    font-family: 'Secular One';
    color: var(--button-bg-color-hover-secondary);
}

.quote_text_sub{
    font-size: clamp(18px, 5vw, 24px);
    font-family: 'Cookie';
    color: var(--text-extra);
    margin-top: -20px;
}

.from_sub{
    color: var(--button-bg-color-active);
    font-family: 'Cabin';
    font-weight: 600;
}

.display_section{
    opacity: 0;
    transform: translateY(50px);
    animation: display_section 0.35s ease-in-out forwards;
}

@keyframes display_section{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.meet_the_head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.meet_the_head h1{
    font-family: 'Raleway';
    font-size: clamp(28px, 4vw, 40px);
    color: var(--text-color-sec);
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.meet_the_head .section_body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    gap: clamp(20px, 4vw, 40px);
}

.meet_the_head .section_body .head_img{
    width: 40%;
    max-width: 700px;
    height: 500px;
    position: relative;
}

.display_section_sideways{
    opacity: 0;
    transform: translateX(50px);
    animation: display_section_sideways 0.5s ease-in-out forwards;
}

@keyframes display_section_sideways{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.meet_the_head .section_body .head_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.meet_the_head .section_body .head_img .frame{
    border-radius: 0px;
}

.meet_the_head .section_body .section_details{
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 40px;
}

.meet_the_head .section_body .section_details h3{
    font-family: 'Cookie';
    font-size: clamp(24px, 4vw, 48px);
    color: var(--text-extra);
    margin-bottom: 20px;
}

.meet_the_head .section_body .section_details p{
    font-family: 'Cabin';
    font-size: clamp(16px, 4vw, 18px);
    line-height: 1.6;
}

.policy_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.policy_section p{
    font-family: 'Manrope';
    font-size: clamp(14px, 4vw, 18px);
    line-height: 1.6;
    text-align: center;
    max-width: 720px;
}

.window_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.window{
    width: 95%;
    height: 380px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}

.window .window_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5) contrast(0.8);
    transform: scale(1.05);
}

.window_text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.window_text p{
    max-width: 60%;
    font-family: 'Manrope';
    font-size: clamp(12px, 2vw, 24px);
    color: #fff;
    line-height: 1.6;
    font-weight: 800;
}

@media screen and (max-width: 828px){
    .showcase_main{
        margin-top: 50px;
    }
}


@media screen and (max-width: 768px){
    .section:first-of-type{
        flex-direction: column;
        gap: 40px
    }

    .section:first-of-type .section_image{
        display: none;
    }

    .section:first-of-type .section_text{
        width: 100%;
        padding: 0 20px;
    }

    .meet_the_head .section_body{
        flex-direction: column;
        gap: 40px;
    }

    .meet_the_head .section_body .head_img{
        width: 100%;
        max-width: 100%;
        height: 400px;
    }

    .meet_the_head .section_body .section_details{
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
        order: 2;
    }
}

@media screen and (max-width: 480px) {
    .showcase_main .main_card{
        display: none;
    }

    .showcase_main{
        height: 300px;
    }

    .section:first-of-type .section_text{
        padding: 0;
    }

    .showcase_img{
        width: 100%;
        height: 250px;
    }

    .showcase_img .img .main_card{
        width: 200px;
        height: 150px;
    }

    .showcase_img .img .main_card div{
        padding: 5px;
    }

    .showcase_img .img .main_card h3{
        font-size: 12px;
    }

    .meet_the_head .section_body .head_img{
        height: 300px;
    }

    .window{
        height: 200px;
    }

    .window .apply_btn{
        padding: 10px;
    }
}