@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Vesper+Libre&display=swap');


@font-face {
    font-family: 'Monarda';
    src: url('monarda-webfont.woff2') format('woff2'),
         url('monarda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Billie Sight';
    src: url('billie-sight.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}



:root{
    --text-muted-color: #d5dce5;
    --text-pop-color: #373b3f;
    --heading-color: #0e1318;
    --sub-heading-color: #1f1f1f;
    --body-bg-color: #fff;
    --text-color: #333;
    --text-color-sec: #e85585;
    --text-extra: #1f2f3f;
    --bg-primary: #f1f3f5;
    --bg-secondary:#e1e1e1;
    --bg-tertiary:#f6f6f6;
    --input-bg-color: #f1f3f5;
    --img-filter:;
    --quote-text-color: #024445;
    --quote-text-strong: #057778;
    --border-color-primary:;
    --border-color-secondary:;
    --input-text-color:#6a6d71;
    --input-border-color:var(--text-muted-color);
    --input-border-color-focus:var(--link-hover-color);
    --input-bg-color-focus:;
    --input-text-color-focus:;
    --input-border-color-error:;
    --input-bg-color-error:;
    --input-text-color-error:;
    --input-border-color-disabled:;
    --input-bg-color-disabled:;
    --input-text-color-disabled:;
    --input-border-color-success:;
    --input-bg-color-success:;
    --input-text-color-success:;
    --input-border-color-warning:;
    --link-highlight-color:#8321e9;
    --link-hover-color:#caa0f6;
    --button-bg-color:#6720b2;
    --button-bg-color-hover-tertiary:#e1e4e7;
    --button-bg-color-hover-primary:#f1f3f5;
    --button-bg-color-hover-secondary:#922ffb;
    --button-bg-color-active:#7425c7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.be_container{
    width: 100%;
}

body{
    font-family: "Raleway";  
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smooth: always !important;
    -webkit-text-size-adjust: none;
    color: var(--text-color);
    background-color: #fff;
}


h1,h2, h3, h4, h5, h6{
    font-family: "Manrope";
    color: var(--heading-color);
}

p, li, a{
    font-family: "Raleway";
    color: var(--text-color);
}

a{
    text-decoration: none;
}

::placeholder{
    color: var(--input-text-color);
    font-family: "Manrope";
}

input{
    font-family: "Manrope";
    border-radius: 6px;
    border: 1px solid var(--input-border-color);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

input:focus-within{
    border: 1px solid var(--input-border-color-focus);
    margin: -1px !important;
}

input:not(:placeholder-shown){
    border: 1px solid var(--input-border-color-focus);
    margin: -1px !important;
}

label{
    color: var(--sub-heading-color);
    font-weight: 700;
}

button{
    font-family: "Manrope";
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    outline: none !important;
    transition: all 0.1s ease-out;
}

button:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.divider_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divider{
    width: 90%;
    height: 1px;
    background-color: var(--text-color);
    margin: clamp(30px, 4vw, 60px) 0;
}

.tags_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    max-width: 600px;
}

.tags_container h3{
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 600;
    font-family: 'Manrope';
}

.tags a{
    font-size: clamp(10px, 2vw, 12px);
    font-weight: 500;
    font-family: 'Manrope';
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--bg-tertiary);
    color: var(--text-color);
}

.tags a:hover{
    background-color: var(--bg-secondary);
}


.post_tags a{
    font-size: clamp(10px, 2vw, 12px);
    font-weight: 600;
    font-family: 'DM Sans';
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--bg-tertiary);
    color: var(--text-pop-color);
}


.post_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(8px, 2vw, 10px);
    margin-top: 120px;
    margin-bottom: clamp(10px, 2vw, 20px);
}

.post_head small{
    font-family: 'Vesper Libre';
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 500;
    color: var(--text-color);
}

.post_head h1{
    font-family: 'Monarda';
    font-size: clamp(24px, 2vw, 36px);
    font-weight: 700;
    color: var(--text-pop-color);
    text-align: center;
}

.post_head .post_tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 300px;
}

.share_tab{ 
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.share_tab a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.5s ease;
}

.edit_tab{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit_tab_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border-radius: 4px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
    transition: 0.5s ease;
    color: #fff;
    font-weight: 500;
    font-size: clamp(12px, 4vw, 14px);
    font-family: 'Manrope';
}

.edit_tab_btn:hover{
    opacity: 0.8;
}

.edit_btn{
    background: var(--link-hover-color);
}

.delete_btn{
    background: rgb(184, 76, 98);
}


.post_body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(20px, 4vw, 80px);
    align-items: flex-start;
    width: 100%;
    padding: 0 clamp(0, 4vw, 20px);
    margin: clamp(40px, 2vw, 60px) 0;
    line-break: anywhere;
    hyphens: auto;
}

.post_body .post_main_img{
    width: 45%;
    height: 500px;
    position: relative;
    border-radius: 2px;
}

.post_body2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(20px, 2vw, 60px);
    align-items: center;
    width: 100%;
    padding: 0 clamp(0, 4vw, 20px);
    margin: clamp(40px, 2vw, 60px) 0;
    line-break: anywhere;
    hyphens: auto;
}

.post_body2 .post_main_img{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    border-radius: 2px;
}

.post_main_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

 .post_content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(10px, 2vw, 20px);
    margin-top: clamp(20px, 2vw, 40px);
}

.post_content p{
    font-family: 'Manrope';
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 400;
    color: var(--text-color);
}

.post_content a{
    color: var(--text-pop-color);
    font-weight: 600;
}


.frame{
    border: 1.5px solid var(--bg-primary);
    border-radius: 2px;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(20px, 4vw, 40px) clamp(10px, 4vw, 40px);
    width: 100%;
    padding: 0 clamp(0, 4vw, 20px);
    margin-block: clamp(80px, 2vw, 120px) !important;
}

.post_images div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    opacity: 0;
    overflow: hidden;
}

.post_images div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post_images div p{
    font-family: 'DM Sans';
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 500;
    color: var(--input-text-color);
}

.suggestions{
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: clamp(40px, 4vw, 60px) 0;
}

.suggestions .upcoming_body_item{
    position: relative;
    width: 300px;
    height: 330px;
    display: flex;
    flex: 0 0 200px;
    flex-basis: auto !important;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    scroll-snap-align: center;
    scroll-behavior: smooth !important;
    isolation: isolate;
    opacity: 0;
 }

 .upcoming_body_item .item_img{
    width: 100%;
    height: 60%;
    border-radius: 4px;
    isolation: isolate;
    position: relative;
}

.item_img a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-secondary);
    background-color: var(--link-highlight-color);
    padding: 5px 10px;
    font-size: clamp(10px, 2vw, 12px);
    font-weight: 600;
    border-radius: 4px;
    display: none;
}

.item_img a:hover{
    background-color: var(--button-bg-color);
    color: #fff;
}

.item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    transition: 0.1s ease-in;
}

.upcoming_body_item .item_content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 20px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
}

.item_content h3 {
    font-family: 'Cabin';
    font-weight: clamp(400, 2vw, 600);
    font-size: clamp(12px, 2vw, 16px);
    line-height: 1.2;
    color: var(--text-extra);
    text-overflow: clip;
}

.item_content h3 a{
    color: var(--text-extra);
    transition: 0.1s ease-in-out;
}

.item_content h3 a:hover{
    color: var(--button-bg-color);
    opacity: 0.5;
}

.item_content p:first-of-type{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
}

.item_content p:first-of-type a{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: clamp(8px, 2vw, 10px);
    color: var(--text-color-sec);
    text-overflow: clip;
}

.item_content p:last-of-type{
    font-family: 'Manrope';
    font-weight: clamp(400, 2vw, 500);
    font-size: clamp(8px, 2vw, 10px);
    line-height: 1.4;
    color: var(--text-extra);
    justify-self: end;
}



@media (hover:hover){
    .upcoming_body_item .item_img:hover img{
        transform: scale(1.05);
        filter: brightness(0.95) blur(1px);
    }

    .upcoming_body_item .item_img:hover + .item_content{
        border-radius: 6px !important;
    }

    .upcoming_body_item .item_img:hover a{
        display: block;
    }
    
    .share_tab a:hover{
        animation: active 0.3s ease-out both;
    }

    @keyframes active{
        0%{
            transform: scale(1) translateY(0);
        }
        100%{
            transform: scale(1.1) translateY(-5px);
        }
    }

}

.display_recent{
    animation: display_recent 0.3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes display_recent {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.display_suggestion{
    animation: display_suggestion 0.5s ease-out;
    animation-fill-mode: forwards;
    transform-origin: 50% 100%;
    filter: blur(2px);
}

@keyframes display_suggestion {
    0% {
        opacity: 0;
        transform: scale(0.2);
        filter: blur(2px);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}


@media screen and (max-width: 828px){
    
    .post_body{
        flex-direction: column;
        align-items: center;
    }

    .post_body .post_main_img{
        width: 90%;
        height: 400px;
    }

    .post_content{
        width: 90%;
    }
}
    
@media screen and (max-width: 768px){
    .post_main_img{
        height: 300px !important;
    }

    .post_images div{
        width: 45%;
    }


}

@media screen and (max-width: 600px){
    .post_images div{
        width: 100%;
    }

    .suggestions .upcoming_body_item{
        width: 150px !important;
        height: 280px;
    }

}
    

@media screen and (max-width: 360px){
    .suggestions .upcoming_body_item{
        width: 140px !important;
        height: 280px;
    }
}